<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main>
        <div class="container">
            <div class="card_field">
                <div class="card_wrapper">
                    <div class="img_wrapper">
                        <img src="../../public/images/photo_goods/id_1.webp" alt="">
                    </div>
                    <div class="text_wrapper">
                        <div class="text_label">
                            <h2>Астрагал</h2>
                        </div>
                        <div class="text_label_en">
                            <h5>ASTRAGALUS</h2>
                        </div>
                        <ul class="properties">
                            <li>
                                <a href="">
                                    Защищает от вирусных инфекций, укрепляет иммунную систему
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Снижает проявления хронической усталости
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Облегчает симптомы сезонной аллергии
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Улучшает функцию сердца, расширяет сосуды
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Улучшает функцию почек, снижает риск развития нефротического синдрома
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Снижает и контролирует уровень сахара крови при сахарном диабете 2 типа
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Снижает негативные эффекты химиотерапии и риски инфекций у пациентов со злокачественными образованиями
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Замедляет клеточное старение
                                </a>
                            </li>
                        </ul>
                        <div class="price">
                            Цена: 1 500 ₽
                        </div>
                        <div class="delivery"></div>
                        <div class="network"></div>
                    </div>
                </div>
                <div class="sertificates">
                    <h2>Сертификация</h2>
                    <p>Вся продукция NSP проходит проверку в международных и государственных организациях с получением необходимых документов.</p>
                    <div class="quality_wrapper">
                        <div class="quality" >
                            <div class="quality_img NSF">
                            <div class="hover">
                                Знак NSF является вашей гарантией того, что продукт был протестирован одной из самых уважаемых независимых сертификационных организаций, существующих на сегодняшний день. Его ценят потребители, производители, розничные торговцы и регулирующие органы по всему миру.
                            </div>
                                <p>NSF</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    Надлежащая производственная практика, GMP (сокр. от англ. good manufacturing practice) — правила, которые устанавливают требования к организации производства и контроля качества лекарственных средств для медицинского и ветеринарного применения.
                                </div>
                                <p>GMP</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    EAC расшифровывается как Евразийское соответствие (от английского Eurasian Conformity). Это знак обращения, который наносится непосредственно на товары, их упаковку или сопроводительную документацию. Данная маркировка подтверждает, что продукция прошла все установленные в технических регламентах Таможенного союза процедуры оценки и отвечает их требованиям. Другими словами – она является качественной и безопасной для потребителя.
                                </div>
                                <p>EAC</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    Therapeutic Goods Administration - сертификат Администрации Терапевтических Товаров, являющейся частью Австралийского Департамента Здравоохранения. Данный сертификат подтверждает, что компания имеет полный допустимый уровень соответствия Австралийскому кодексу надлежащей практики производства терапевтических продуктов.
                                </div>
                                <p>TGA</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    FDA - это стандарт, целью которого, в первую очередь, является повышение качества и безопасности для здоровья пищевых продуктов, добавок, косметических и лекарственных средств, вакцин, ветеринарных препаратов, медицинских устройств и табачных изделий, производимых как на территории США, так и во всем мире.
                                </div>
                                <p>FDA</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    WADA - Антидопинговый сертификат продукции NSP (Nature's Sunshine Products). Вся продукция NSP cоответствует требованиям Мирового Антидопингового Агентства и не содержит допинговых и запрещённых веществ.                            </div>
                                <p>WADA</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                        <div class="quality" >
                            <div class="quality_img">
                                <div class="hover">
                                    Kosher (кошер) – сертификат качества, подтверждающий соответствие продукции, ингредиентов и процессов производства еврейскому диетарному закону.
                                    Кошерная сертификация — это проверка предприятия и сырья на соответствие правилам, предусмотренным законами иудаизма.
                                </div>
                                <p>KO</p>
                                <img src="../../public/images/img/quality.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_description_wrapper">
                    <div class="card_description">
                        <div class="description">
                            <h2>Описание</h2>
                            <script>
                                const p = `Как адаптоген, астрагал помогает организму справляться со стрессом и отвечать на физические, умственные и эмоциональные раздражители.Астрагал содержит сапонины, стерины, изофлавоны и полисахариды, и они помогают минимизировать повреждение мембран свободными радикалами. Астрагал способствует активации Т-клеток. Кроме того он поддерживает рост иммунных клеток, секрецию иммуноглобулинов и передачу иммунных сигналов. Все это укрепляет защиту вашего организма от бактерий, микробов и вирусов.
    Астрагал перепончатый (Astragalus membranaceus) – наиболее известен благодаря его применению в традиционной народной китайской медицине. Исторически использовался в качестве иммуномодулирующего средства для лечения простуды, диареи, усталости и анорексии. Корень содержит полисахариды, флавоноиды, изофлавоны, тритерпеновые сапонины, холин, бетаин, куматакенин.
    Основные действия астрагала
    1. Адаптогенное, противовоспалительное – повышение устойчивости к инфекциям. Доказано, что сапонины в астрагале защищают от сепсиса, подавляя воспаление. Ослабляя воспалительные факторы, астрагал подавляет тканевые повреждения, такие, например как отек тканей, в том числе легочных.
    2. Противоинфекционное – профилактика вирусных инфекций, включая простуду, респираторные инфекции и инфекционные заболевания печени (инфекционные гепатиты).
    3. Иммуномодулирующее и поддерживающее иммунную систему – доказана активность корня астрагала в этом направлении. В отношении пациентов с опухолевым процессом астрагал повышает устойчивость к инфекциям у этих больных.
    4. Противоопухолевое – используется для стимуляции апоптоза (естественной запрограммированной гибели раковых клеток. Отмечается облегчение побочных эффектов химиотерапии (тошноты, рвоты и диареи). При этом максимальная эффективность астрагала наблюдается в течение первой недели лечения.
    5. Кардиотоническое и сосудорасширяющее – улучшение функции сердца и уменьшение выраженности симптомов при заболеваниях сердца. Астрагал расширяет кровеносные сосуды и увеличивает количество перекачиваемой из сердца крови.
    6. Понижение и контроль уровня сахара в крови при сахарном диабете 2 типа. Добавление астрагала к рациону питания помогает контролировать уровень сахара в крови у людей с сахарным диабетом 2 типа как после периода без приема пищи (например, сон), так и после приема пищи при ежедневном использовании этого продукта в течение 4 месяцев.
    7. Снижение массы тела за счет улучшения обмена углеводов.
    8. Улучшение функции почек и поддержание их здоровья. Улучшает показатели белка в моче (протеинурия) – признака повреждения или нарушения функции почек. Астрагал оказывает профилактику инфекций и риска воспаления у людей со сниженной функцией почек при приеме ежедневно в течение 3-6 месяцев.
    9. Тонизирующее – снижает проявления синдрома хронической усталости.
    10. Антиаллергическое – облегчает симптомы сезонной аллергии (чихание, насморк).
    11. Геропротективное –доказана возможность астрагала останавливать клеточное старение и замедлять укорачивание теломер. Теломеры – это «защитные колпачки» на хромосомах, которые истончаются с возрастом и являются признаком клеточного старения. Доктор Билл Эдвардс, США, в половых клетках открыл фермент теломеразу, которая восстанавливает теломеры для передачи информации о возрасте последующим поколениям. Астрагал замедляет и обращает вспять укорочение теломер, а также восстанавливает и улучшает клеточную функцию.
    Преимущества:
    ​Уникальный монокомпонентный продукт Активного Долголетия широкого действия. Компания НСП использует астрагал, произрастающий на плодородных равнинах Китая, где климат и почвенные условия идеально подходят для его роста. Эти растения выращивают в течение двух сезонов, чтобы корни были достаточно зрелыми и накопили чистые и мощные питательные вещества. При сборе урожая используются природосберегающие технологии. Сырье, используемое в производстве Астрагала, не содержит ГМО и сертифицировано как кошерное и халяльное.`
                                const arrp = p.split('\n');
                                console.log(arrp)
                                const description = document.querySelector('.description');
                                arrp.forEach((item) =>{
                                    const pp = document.createElement('p');
                                    description.appendChild(pp)
                                    pp.innerHTML = item
                                })
                            </script>
                        </div>
                        <div class="composition">
                            <h2>Состав</h2>
                            <p>
                                БАД к пище Астрагал является источником полифенольных соединений, содержит тритерпеновые сапонины.
    Состав: корень астрагала перепончатого 420 мг.
    Вспомогательные вещества: желатин, вода (в составе желатиновой капсулы)
    
                            </p>
                        </div>
                        <div class="application">
                            <h2>Примечание</h2>
    
                        </div>
                        <div class="contraindications">
                            <h2>Противопоказания</h2>
    
                        </div>
                        <div class="keeping">
                            <h2>Условия хранения</h2>
    
                        </div>
                        <div class="note">
                            <h2>Примечание</h2>
    
                        </div>
                    </div>
                    <div class="card_reviews">
                        <p>здесь будут отзывы</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partails/footer.ejs')%>
</body>
