<div class="entry_window" style="display: none;">
    <button class="form_btn close entry_close">X</button>
    <div class="entry">
        <h5 class="entry_form_name">Вход</h5>
        <div class="email_wrap entry_email_wrap">
            <label class="form_field entry_email_label">
                Электронная почта
                <input class="form_window_input entry_input_from_email" placeholder="email" type="text">
                <p class="entry_email_info"></p>
            </label>
        </div>
        <div class="entry_password_wrap">
            <div class="forget">
                <div>Забыли пароль?</div>
            </div>        
            <label class="form_field entry_password_label">
                Пароль
                <input class="form_window_input entry_input_from_password">
                <p class="entry_password_info"></p>
            </label>
        </div>
        <div class="entry_btn_wrap">
            <button class="form_btn entry_btn">Войти</button>
            <button class="form_btn entry_reg_btn">Регистрация</button>
            <button class="form_btn entry_back_btn">Отмена</button>
        </div>
        <!-- <div class="entry_reg_btn_wrap">
            <button class="entry_reg_btn">Регистрация</button>
        </div>
        <div class="entry_back_wrap">
            <button class="entry_back_btn">Отмена</button>
        </div> -->
    </div>
</div>