<footer style="height: 300px;">
    <div class="container" style="display: flex;">
        <div style="color: #c9af94; margin: auto 0;">
            <p>Здоровья Вам и Вашим близким!</p>
            <p>🌿 NATR.LAB 🌿</p>
        </div>
    </div>
    <%- include('consult.ejs')%>
</footer>