    <header class="header">
        <div class="container header_container">
            <div class="logo">
                <a class="logo_link" href="">
                    <img class="logo_img" src="/images/logo/IMG_6724.JPG" alt="1">
                </a>
                <div class="with">
                    <p class="with_name">KATALINA.NATR</p>
                    <p class="with_with">with <span class="natures"> Natures Sunshine</span></p>
                </div>
            </div>
            <h1 class="header_title">NSP</h1>
            <nav class="header_nav">
                <ul class="header_nav_list">
                    <li>
                        <a class="menu" href="/goods">Продукция NSP</a>
                    </li>
                    <li>
                        <a class="menu" href="">О компании NSP</a>
                    </li>
                    <li>
                        <a class="menu" href="/about">О нас</a>
                    </li>
                </ul>
            </nav>
            <button class="reg">Личный кабинет</button>
        </div>
    </header>
