<div class="reg_window" style="display: none;">
    <div class="reg">
        <h5 class="reg_form_name">Регистрация</h5>
        <div class="login_wrap">
            <label class="form_field login_label">
                Логин
                <input class="form_window_input input_from_login">
                <p class="login_info"></p>
            </label>
        </div>
        <div class="email_wrap">
            <label class="form_field email_label">
                Электронная почта
                <input class="form_window_input input_from_email" placeholder="email" type="text">
                <p class="email_info"></p>
            </label>
        </div>
        <div class="confirm_reg_btn_wrap">
            <button class="confirm_reg_btn">Зарегистрироваться</button>
        </div>
        <div class="back_btn_wrap">
            <button class="back_btn">Отмена</button>
        </div>
    </div>
</div>