<div class="reg_window" style="display: none;">
    <button class="form_btn close reg_close">X</button>
    <div class="reg_wrap">
        <h5 class="reg_form_name">Регистрация</h5>
        <div class="reg_login_wrap">
            <label class="form_field reg_login_label">
                Логин
                <input class="form_window_input reg_input_form_login">
                <p class="reg_login_info"></p>
            </label>
        </div>
        <div class="reg_email_wrap">
            <label class="form_field reg_email_label">
                Электронная почта
                <input class="form_window_input reg_input_from_email" placeholder="email" type="text">
                <p class="reg_email_info"></p>
            </label>
        </div>
        <div class="reg_btn_wrap">
            <button class="form_btn confirm_reg_btn">Зарегистрироваться</button>
            <button class="form_btn reg_back_btn">Отмена</button>
        </div>
        <!-- <div class="reg_back_btn_wrap">
            <button class="reg_back_btn">Отмена</button>
        </div> -->
    </div>
</div>