<div class="reviews_home">
    <% for (let i=0; i < 6; i++) {%>
            <div class="card review_card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Отзыв на продукт №<%=i+1%></h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии
                        карточки и составлять основную часть содержимого карты.
                        карточки и составлять основную часть содержимого карты.
                        карточки и составлять основную часть содержимого карты.
                        карточки и составлять основную часть содержимого карты.                    
                    </p>
                    <button class="consult_btn" style="width: 120px;">
                        <a href="" class="bconsult_link tn btn-primary">Перейти на страницу продукта</a>
                    </button>
                </div>
            </div>
    <%}%>
<div class="read_all">
    <button class="consult_btn">
        <a href="/reviews" class="bconsult_link tn btn-primary" style="display: block; height: 100%;">Читать все отзывы >>>>>>>>></a>
    </button>
</div>
</div>