<div class="itcss">
    <div class="itcss__wrapper">
        <div class="itcss__items">
        </div>
    </div>
    <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
    <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
</div>
<script src="/forslider.js" type="module">scr</script>

