<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main>
        not found
        <div class="container">
            <div class="goods"></div>
        </div>
    </main>
    <%- include('./partails/footer.ejs')%>
    <script src=""></script>
</body>
