<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partails/head.ejs')%>
  </head>
  <body class="body">
    <%- include('./partails/header.ejs')%>
    <main>
      <div class="container">
        <div class="philosophy">
          <div class="nsp_img"></div>
          <div class="about_company">
            <h2>О компании</h2>
            <p>
              Nature’s Sunshine Products с 1972 года создает, выпускает и
              распространяет биологически активные добавки и витамины. Философия
              Nature’s Sunshine — это забота о здоровье людей в сочетании с
              возможностью стабильного бизнеса. NSP — одна из старейших и
              крупных компаний в индустрии, безупречная история которой
              насчитывает уже 50 лет.
            </p>
          </div>
          <div class="about_company_2">
            <p>
              Компания NSP заслужила международное признание, владеет уникальным
              производственным комплексом и производит широкий ассортимент
              фитопрепаратов и косметики.
            </p>
            <p>
              Начиная с 1972 года компания разработала 1200 уникальных формул
              продуктов для здоровья. Она поставляет продукцию более чем в 50
              стран мира. Сегодня у нее 258 поставщиков, у которых они
              заказывают 867 натуральных компонентов.
            </p>
          </div>
          <div class="start">
            <h2>Доступный старт</h2>
            <p>NSP – это возможность прекрасной карьеры.</p>
            <p>
              Вы можете начать собственный бизнес уже сегодня. В отличие от
              многих компаний, NSP не берет платы «за вход». Нет никаких
              ежегодных платежей партнеров в компанию. Никакие инвестиции не
              нужны для успешного старта.
            </p>
          </div>
          <div class="contacts_img"></div>
          <div class="support">
            <h2>Поддержка от компании</h2>
            <p>
              Компания дает каждому партнеру необходимую информационную
              поддержку и качественные интернет-сервисы. Все необходимое для
              вашей работы, сервис подписания новых партнеров и техническую
              поддержку обеспечивает nsp25.
            </p>
            <p>
              Информационная рассылка знакомит вас с новостями компании.
              Еженедельно компания делится со своими подписчиками качественными
              рекламными материалами, которые можно использовать: презентациями,
              инфографикой, баннерами и картинками для социальных сетей.
            </p>
            <p>
              Для партнеров работают сервисы интернет-доставки продукции, а
              также сервисные центры в разных регионах рынка. Экспертный отдел
              предлагает еженедельные вебинары, образовательную литературу,
              статьи и презентации, которые вы можете использовать для
              продвижения продукции и бизнеса.
            </p>
          </div>
          <div class="unicum_price">
            <h2>Продукты по уникальной цене</h2>
            <p>
              Все продукты предлагаются вам по уникальной цене — это цена для
              партнеров компании. Никакие инвестиции для начала бизнеса не
              нужны, нет минимальных требований к закупкам или созданию запаса
              продуктов. Просто поддерживайте свое здоровье и здоровье
              окружающих вас людей с продуктами NSP, и ваш бизнес будет
              строиться сам по себе.
            </p>
          </div>
          <div class="profit">
            <h2>Остаточный доход</h2>
            <p>
              Хотели бы вы иметь собственный бизнес с неограниченным потенциалом
              роста? Когда вы создадите бизнес в NSP, вы начнете получать
              остаточный ежемесячный доход.
              <a download class="marketing" href="/marketing-protect.pdf"
                >Маркетинг-план</a
              >
              разработан так, чтобы вознаградить вас за вашу деятельность в
              качестве партнера в бизнесе и позволяет развить неограниченный
              остаточный доход.
            </p>
          </div>
          <div class="bonus">
            <h2>Бонусы и промоушены компании</h2>
            <p>
              NSP щедро вознаграждает партнеров за достижение хороших
              результатов, давая возможность путешествовать по всему миру за
              счет компании! В компании всегда действуют несколько промоушенов,
              и вы можете получать дополнительные денежные вознаграждения,
              подарки, путешествия и настоящее признание!
            </p>
          </div>
          <div class="experts">
            <h2>Эксперты промышленности</h2>
            <p>
              Компания Nature’s Sunshine первая предложила поместить травы в
              капсулы (инкапсулировать), и сегодня NSP имеет широкий ассортимент
              травяных, витаминных и минеральных добавок (БАД), ассортимент
              средств по уходу за кожей и линейку декоративной косметики —
              продуктов для сохранения красоты и здоровья.
            </p>
            <p>
              NSP уникальна тем, что это одна из немногих компаний в
              МЛМ-индустрии, которая была стабильна и постоянно развивалась в
              течение вот уже 49 лет. Огромный опыт в производственной сфере,
              четкость в исполнении своих обязательств вместе с убедительными
              показателями финансовой стабильности и надежности — все это делает
              бизнес-предложение NSP действительно уникальной возможностью в
              создании успешного бизнеса по апробированной модели.
            </p>
          </div>
        </div>
        <div class="photo_1"></div>
      </div>
    </main>
    <%- include('./partails/footer.ejs')%>
    <script src=""></script>
  </body>
</html>
