<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main class="about_main">
        <section>
            <div class="container">
<p class="welcome">Команда нутрициологов-натуропрактиков приветствует вас на сайте Центра нутрициологии и развития личности 🌿 NATR.LAB 🌿!</p>

<p>Данный центр создан для тех, кто в качестве инструмента заботы о здоровье своем и семьи выбрал высококачественные и результативные <a class="about_link" href="goods">продукты Nature`s Sunshine</a>.</p>

<p>Наша миссия – собрать всю полезную информацию о КОМПЛЕКСНОМ оздоровлении и поделиться с каждой семьёй, чтобы каждый из вас имел под рукой необходимые знания о том, как:</p>

<ul class="know">
    <li> поддержать свое здоровье в различных ситуациях,</li>
    <li> как себя защитить,</li>
    <li> как ежедневными действиями улучшить качество своей жизни и воплотить мечту об активном долголетии!</li>
</ul>

<p>Мы хотим, чтобы в лице нашей команды и <a class="about_link" href="about_nsp">NSP</a> вы нашли надежного друга, готового прийти на помощь сегодня, завтра и спустя десятилетия.</p>

<p>Познакомиться с каждым из нас вы можете здесь - <a class="about_link" href="natrlab_team">natr_lab_команда</a>.</p>

<p>Индивидуальную консультацию вы можете получить здесь - <a class="about_link get_consult">оставить заявку на консультацию</a></p>

<div>
    <p>Также будем рады видеть вас на нашем телеграмм-канале - </p><a class="about_link" href="https://t.me/Komanda_PRO_Natr_lab"><img class="telegram" src="/images/logo/telegram.svg" alt=""></a>
</div>

Благодаря чату в телеграмм вы:

<ul class="know">
    <li> Будете в курсе актуальных новостей и возможностей, предоставляемых производителем.</li>
    <li> Узнаете о свойствах продуктов NSP и откроете для себя новые формулы.</li>
    <li> Получите доступ к бесплатным прямым эфирам наших и приглашенных специалистов.</li>
    <li> Получите ответы на свои вопросы и алгоритм действий.</li>
    <li> Узнаете о классных вдохновляющих результатах людей и сможете поделиться своими.</li>
    <li> Получите энциклопедию рецептов здорового питания.</li>
    <li> Узнаете готовые мини-схемы, которые будете использовать самостоятельно для решения вопросов в здоровье.</li>
</ul>

<p class="motto">🌿 NATR.LAB 🌿 ваш спутник на пути к здоровому и здравому долголетию!</p>
<p class="motto">Сделаем невозможное возможным!</p>


            </div>
        </section>
    </main>
    <%- include('./partails/footer.ejs')%>
    <script src="/consult.js" type="module">scr</script>
</body>
