<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main>
        <div class="container">
            <ul class="goods_category_list">
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">БАДы</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Очищение организма</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Память и работоспособность</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Коррекция веса</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Спортивное питание</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Косментика для ухода</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Декоративная косметика</p></a>
                </li>
                <li class="goods_category">
                    <a href=""><p class="goods_category_label">Мужская линия</p></a>
                </li>
            </ul>
        </div>
    </main>
    <%- include('./partails/footer.ejs')%>
</body>
