<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main>about Katalina</main>
    <%- include('./partails/footer.ejs')%>
</body>
