<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partails/head.ejs')%>
</head>
<body class="body">
    <%- include('./partails/header.ejs')%>
    <main>
        <div class="container">
            <section class="katalina">
                <div class="katalina_photo katalina_photo1" style="background: url('https://lh3.googleusercontent.com/pw/AL9nZEUlrHzIyeUNjq3XntcTp9Y2WX2J70wilSPKucF5WXJIiCjNum2ne_7mn1C85Ik4kTLNL19so8lPf0KKbLRdapnwd_iQ3ww_2e31eM5vQJ26uE_egGh8qwT5zOdtbCfH6ToCpWtzjIWWafL-hVGjybH4P0VH75R89z03cuildHIW6fAF6T9OPtq8UjwXNP7Gug7_sv9_v_yw2oonPO--qpZpZtXfS26GSwWVKF04StRw3pVif4xI6ufRTSB62DIs0u5Cok6bjFNb4t5EcINTUvtnB3Y4TICYZR5GUTSMs8eHHw6MqEa4ZzCwLa_CWww9H804A__LI61sSN8vh0klR8EMKLfgSYY81fcaK3SlbcJY_Fjp9HXoYPNI5P20ywN0FGKEgYI1ZoXl2YRI_z7gmhZJnEjDdcIA9T6VWTnSc5eNqabPZO4XQ7Hv9i2JTGLz4zzRVmm6opLE2OVJmAz5Sa5DwYMJqaMdbIRl-TKyOngC48_bFETkpgpTaGAC1Mt5vm1qliGdGoLwVhPEvtNqX3oKYtjj5GNflGOcw5UdVtkh6l7_lMiTdS9ZPG5Rapwui2agSXYOWnvsqKmC6qnqydf1C8Ogs94JNLotvnktRPKfHTy99yxAKXGqjy-U4VMOcclxG6MNR1_vEmi3UImcWBeVIsCDcgyVrWQHBRuPLvjAC9DQuX1jLmj1VJFzGuxshV6Z52J8AQL4ZLXgrtDWEmqtJWIKa6P0EZV7QtIAKg1FTh_kNf8nEwvI8Zm8HlY4j9_ytXWpmr5JMM4jhBp8pABFTuKOTof0kM_OpCAA0wZQVKRVyK5qH9FachdhnUn_ezisDqGwmadYZg5yFLGqca4wNlCf4-NFI1g5DOMaEL8DIuQB9O3V0KodCArt_fOwX0RwE0i4ADEtK0N2ANN3ZQ=w816-h1212-no?authuser=0') center center no-repeat; background-size: cover;">
                    <h2 class="team_name">Екатерина</h2>
                </div>  
                <div class="katalina_photo katalina_photo2" style="background: url('https://lh3.googleusercontent.com/pw/AL9nZEXtgvyURkZCyGB8h9rn0RjODguUwK5zwRR6hJ-255_Z_R9yNFjez23LLgGO_GDYnLACFP6BS4cEEm92XcPg81OX8FvyYSKMvOXzNRS2N76YGkPEWTTM4JhBGkDLiY_dVQC5nBzQC0JSeUpUicrrI4LZLs0pS1QR6hlP38T3-iqli-hbZVd1pYJ0pLKsRsu4LSIADCvphZuO5J5o71yNlsHMHw-vW7dgfQACGETrF7Q_8vgyYNiXEyF_h8D7j4WVkiH3oZLG6okTSowRP7nBWfv0ebQgOGp0y0tanUr_F-nwwpjmq_009QipPYm0ptsNqd3gz6qmFTAixUpZbcS7DyyohK2smPVg2RjAQlKzNEOVazdUmmfVSy7Th5qEz8nMb0z4MYFgHBE_df3bIs1l6jLf6N6nEy_Xl8ZBLCnpfL4gIHC0MDG34vmsi_LBYLcvMqs6AcErjNvzDdu3dGRj7bqo2B_8t7fM4SPzxMngPjr8zcWLUMv9ZXKDRY_CGRtX7hqO6crZ97_O_G1kWXfuDXubnFHmcGeYU8fXdrt-Sp66awm1WI8o2L9Q-hILso9LdKDD63OhZBmL9h92keGV8X-Lh6l8_f3i84lMZ7n50hwdZzF6MMbaX6Jc4q-m4n5B26LLznETaSlQ29OnsoeS9cz1DUqte_y86gPTgPAnV5e_pZ9_q_4-V7vHkT3rxZluKp5jXuGFr6x4tSDZ3PtoeijkEg5OoE9X5_D0CwRkIuimU8Om5k6d3unXNyxM6XhLWmQvXVPfTI7HWGWZpbzS8NwuCibLrVKwrYPcBRWLhGOrNt_dUr-mIX9mAzVdX7nYxfhplcSHaffF_g9mmYOn--cfCSV3YTlI1vjBdjOrJdMwTKbGPO3IIHtuAkLXRSOLrHSfnCa_A-L7K1C0wLu95A=w854-h1280-no?authuser=0') center center no-repeat; background-size: cover;">
                    </div>
                <div class="katalina_photo katalina_photo3" style="background: url('https://lh3.googleusercontent.com/pw/AL9nZEWLoPbEKfxkHGxjpiVekWvYTvBhTOAShQFdRzo8RUz2YG5FSKvFMUipMHkRSZiOGyMc5CvkBu7EII8FlLmT3Oez1xG53HVlb8-Uy1oQRYIkfEN0cfCLXRmZqMnEMV-VUOZ1DJ9X9-fVVfoPn0BuSOKxqMVMAxQJGWQepN_N-sLtdOpSOfftgix6irZIBZ031X9637fOGbsNCGNmKMXxrrEhYLqqXbfGycbT1sLlhvTLhEcFkS_dI-M9mXd_9iCi--NryCLLjqziixOQnIUmQ1QZdf4z0iJzufKQb117IoBT3eJKynf2w7WNMYSbznN3UzK_r9nraOG1aXhRp8NUoW34CQ1b3Wv-hu-OMetNFmpdsbgWlHc3lQSW0L9TMj9Gy7_633BOgzvqvLqCL7KCR5wI_sjGNS8xnrd9hujSDliGKugCOGmxC1eMwoDNlJEBQnGZIAeele5zRnjsNcMk6idIWFGqcRhyv-CAApH3B_-Xu-ZzKPT1M6tBBeemJvqbjeZ99PBUveXkCjifkZLdYgo0T0CzUmj571qVqAtfxAk70YQQFq7X8A2C-QV7lVie_wlZ7pxSZaAb6WQ8AhjDelHn8RWgEw7gz4SvUBiNBWbKMozYd1vjSn3zA71kbl_XWw5gZ91nTrdJXbkreowC164GLc0d118mHXN8RfD003oJSInOfH1Y85_QJcBENvKciD0_OXY2Br8eSnkVr1ysypddVa2uWLAL9tBIOTiLjPKHQ54zKeuOJYVm1Ubv_O559sYgVBI8fH7m8IixIS6_wZixd52VcsCLg2-zwShTaZsYh0IZjWyw18QXfdT9UNd05dc70yE4aEyYSWW_ln_XE0_YcZ68DBkvuSXwKY0HQ7YEs5hdxkGcupfg97yqSfZZ4Bg1g_fhG0N_aWWPQvGsMw=w853-h1280-no?authuser=0') center center no-repeat; background-size: cover;">
                    </div>
                <div class="katalina_about">
                    <p>Меня зовут Екатерина, и я являюсь одним из создателей и идейным вдохновителем <a class="about_link" href="about"><br><span>🌿 NATR.LAB 🌿</span></a></p>
                    
                    <p>Я практикующий сертифицированный нутрициолог, счастливая жена и мама. В 2020 году получила свой первый сертификат  по "Практической нутрициологии" в школе Naumkina.Diet. с правом применения своих знаний в своей деятельности. Также был прослушан курс "Мама лучший доктор" от Института практической нутрициологии и натуропатии. Не останавливаюсь на месте и получаю дополнительные знания в "Академии NSP", с правом применения знаний на практике.</p>
                    
                    <p>В нутрициологию пришла в 2019 году по причине, у меня гипотиреоз на фоне АИТ. Официальная медицина мне могла предложить только гормональные препараты на пожизненной основе, с чем я была не согласна, поэтому решила помогать своему организму сама. Так в мою жизнь пришла нутрициология, и на данный момент времени я поддерживаю свой организм только с помощью <a class="about_link" href="goods">добавок NSP</a>, чувствую себя прекрасно, а ещё и помогаю другим людям в восстановлении своего здоровья.</p>
                    <p>Мысль о создании центра крутилась в голове уже долгое время, и в 2022 году, мы вместе с командой решили начать свой путь, пока это будет только в онлайн формате, но в будущем, я надеюсь, мы дорастем и до офлайн.</p>
                
                </div>
                <div class="katalina_about_way">    
                    
                    <p><a class="about_link" href="about"><br><span>🌿 NATR.LAB 🌿</span></a> - это не только проект о здоровье, это проект о новых возможностях, о развитии, о целях, о желаниях.</p>
                    
                    <p>И я очень рада, что наш проект соединяет в себя совершенно разные сферы деятельности, направленные на достижение одной цели -<br>ПОМОГАТЬ ЛЮДЯМ!</p>
                    
                    <p>Если ты: нутрициолог, диетолог, фитнес тренер, таргетолог, smm специалист, психолог, астролог или просто человек который хочет начать развиваться, пиши в <a class="about_link" href="https://t.me/Katalina_natr"><img class="telegram" src="/images/logo/telegram.svg" alt=""></a><a class="about_link" href="https://instagram.com/katalina.castor?igshid=MWI4MTIyMDE="><img class="telegram" src="/images/logo/instagram.svg" alt=""></a>, в команде работать продуктивнее!</p>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partails/footer.ejs')%>
    <script type="module" src="/scripts/natrlab_team.js"></script>
</body>
