<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partails/head.ejs')%>
</head>
<body>
    <%- include('../partails/header.ejs')%>


<div class="container">
    <div class="article article_card"></div>
</div>
<%- include('../partails/footer.ejs')%>

<script src="/articles.js" type="module">scr</script>
</body>
</html>
