<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partails/head.ejs')%>
</head>
<body class="body">
    <%- include('../partails/header.ejs')%>
    <main>
        <div class="container">
            <div class="card_field">
                <div class="card_field_wrapper">
                    <!-- <div class="card_img_wrapper"></div> -->
                    <div class="text_wrapper">
                        <div class="text_label"></div>
                        <div class="text_label_en"></div>
                        <div class="properties"></div>
                        <ul class="part" style="display: none;">
                            <h3>В состав набора входит:</h2>
                        </ul>
                        <div class="price retail_price">
                            <div>Цена:</div> 
                        </div>
                        <div class="price distributors_price">
                            <div>Цена для партнеров:</div> 
                        </div>
                        <button class="card_consult_btn";"><a class="consult_link" href="https://nsp25.com/signup?sid=7436342&market=25">Стать партнером и купить со скидкой</a></button>
                        <div class="delivery"></div>
                        <div class="network"></div>
                    </div>
                    <div class="card_img_wrapper"></div>
                </div>
                <div class="sertificates_wrapper">
                    <div class="sertificates">
                        <h2>Сертификация</h2>
                        <p>Вся продукция NSP проходит проверку в международных и государственных организациях с получением необходимых документов.</p>
                        <div class="quality_wrapper">
                            <div class="quality" >
                                <div class="quality_img NSF">
                                <div class="hover">
                                    Знак NSF является вашей гарантией того, что продукт был протестирован одной из самых уважаемых независимых сертификационных организаций, существующих на сегодняшний день. Его ценят потребители, производители, розничные торговцы и регулирующие органы по всему миру.
                                </div>
                                    <p>NSF</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        Надлежащая производственная практика, GMP (сокр. от англ. good manufacturing practice) — правила, которые устанавливают требования к организации производства и контроля качества лекарственных средств для медицинского и ветеринарного применения.
                                    </div>
                                    <p>GMP</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        EAC расшифровывается как Евразийское соответствие (от английского Eurasian Conformity). Это знак обращения, который наносится непосредственно на товары, их упаковку или сопроводительную документацию. Данная маркировка подтверждает, что продукция прошла все установленные в технических регламентах Таможенного союза процедуры оценки и отвечает их требованиям. Другими словами – она является качественной и безопасной для потребителя.
                                    </div>
                                    <p>EAC</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        Therapeutic Goods Administration - сертификат Администрации Терапевтических Товаров, являющейся частью Австралийского Департамента Здравоохранения. Данный сертификат подтверждает, что компания имеет полный допустимый уровень соответствия Австралийскому кодексу надлежащей практики производства терапевтических продуктов.
                                    </div>
                                    <p>TGA</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        FDA - это стандарт, целью которого, в первую очередь, является повышение качества и безопасности для здоровья пищевых продуктов, добавок, косметических и лекарственных средств, вакцин, ветеринарных препаратов, медицинских устройств и табачных изделий, производимых как на территории США, так и во всем мире.
                                    </div>
                                    <p>FDA</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        WADA - Антидопинговый сертификат продукции NSP (Nature's Sunshine Products). Вся продукция NSP cоответствует требованиям Мирового Антидопингового Агентства и не содержит допинговых и запрещённых веществ.                            </div>
                                    <p>WADA</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                            <div class="quality" >
                                <div class="quality_img">
                                    <div class="hover">
                                        Kosher (кошер) – сертификат качества, подтверждающий соответствие продукции, ингредиентов и процессов производства еврейскому диетарному закону.
                                        Кошерная сертификация — это проверка предприятия и сырья на соответствие правилам, предусмотренным законами иудаизма.
                                    </div>
                                    <p>KO</p>
                                    <img src="/images/img/quality.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gos">
                            <a class="CSR">
                                <div style="align-self: center;">
                                    Свидетельство о государственной регистрации
                                </div>
                                <div class="gosreg"></div>
                            </a>
                    </div>
                </div>
                <div class="card_description_wrapper">
                    <div class="card_description">
                        <div class="description"></div>
                        <div class="composition"></div>
                        <div class="application"></div>
                        <div class="contraindications"></div>
                        <div class="keeping"></div>
                        <div class="note"></div>
                    </div>
                    <div class="card_reviews">
                        <h2>Отзывы о <span class="product"></span></h2>
                        <div class="card_rewiew_slider">                        
                        </div>
                        
                        <div class="slider-dots">
                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partails/footer.ejs')%>
    <script type="module" src="/scripts/card.js"></script>
    <script>
        // var slideIndex = 1;
        // showSlides(slideIndex);
        
        // function plusSlide() {
        //     showSlides(slideIndex += 1);
        // }
        
        // function minusSlide() {
        //     showSlides(slideIndex -= 1);  
        // }
        
        // function currentSlide(n) {
        //     showSlides(slideIndex = n);
        // }
        
        // function showSlides(n) {
        //     var i;
        //     var slides = document.getElementsByClassName("item");
        //     var dots = document.getElementsByClassName("slider-dots_item");
        //     if (n > slides.length) {
        //       slideIndex = 1
        //     }
        //     if (n < 1) {
        //         slideIndex = slides.length
        //     }
        //     for (i = 0; i < slides.length; i++) {
        //         slides[i].style.display = "none";
        //     }
        //     for (i = 0; i < dots.length; i++) {
        //         dots[i].className = dots[i].className.replace(" active", "");
        //     }
        //     slides[slideIndex - 1].style.display = "block";
        //     dots[slideIndex - 1].className += " active";
        // }
            </script>
        
</body>
