<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partails/head.ejs')%>
</head>
<body class="body">
    <%- include('../partails/header.ejs')%>
    <main>
        <div class="container">
            <div class="preview"></div>
        </div>
    </main>
    <%- include('../partails/footer.ejs')%>
    <script type="module" src="/scripts/card.js"></script>
</body>
