<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partails/head.ejs')%>
</head>
<body class="body">
    <%- include('../partails/header.ejs')%>
    <main>
        <div class="container">
            <ul class="goods_group_list"></ul>
        </div>
    </main>
    <%- include('../partails/footer.ejs')%>
    <script type="module" src="/scripts/group.js"></script>
</body>
